@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss/preflight";

@theme {
  --color-brand-100: #fcefea;
  --color-brand-200: #f9e0d5;
  --color-brand-300: #f4ccba;
  --color-brand-400: #f2bfa9;
  --color-brand-500: #eda587;
  --color-brand-600: #e78b64;
  --color-brand-700: #e27242;

  --color-neutral-100: #f4f4f4;
  --color-neutral-200: #e3e3e3;
  --color-neutral-300: #d1d1d1;
  --color-neutral-400: #b0b0b0;
  --color-neutral-500: #8e8e8e;
  --color-neutral-600: #686868;
  --color-neutral-700: #4e4e4e;
  --color-neutral-800: #1d1e1e;

  --color-error-100: #feddd8;
  --color-error-200: #fdbab1;
  --color-error-300: #fc988a;
  --color-error-400: #fb7563;
  --color-error-500: #fa533c;
  --color-error-600: #f83015;

  --color-success-100: #f1f9ee;
  --color-success-200: #e3f3e1;
  --color-success-300: #c4e8c6;
  --color-success-400: #a3dcaa;
  --color-success-500: #82ce8f;
  --color-success-600: #59c173;
}

@layer components {
  .text-h {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
  }

  .text-h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
  }

  .text-h2 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 700;
  }

  .text-h2-medium {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 500;
  }

  .text-body1-bold {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
  }

  .text-body1-medium {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.00625rem;
  }

  .text-body1-regular {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.0125rem;
  }

  .text-body2-bold {
    font-size: 0.9375rem;
    line-height: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.0125rem;
  }

  .text-body2-medium {
    font-size: 0.9375rem;
    line-height: 1.125rem;
    font-weight: 500;
    letter-spacing: -0.0125rem;
  }

  .text-body3-medium {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
    letter-spacing: -0.0125rem;
  }

  .text-body3-regular {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: -0.0125rem;
  }

  .text-label {
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    font-weight: 500;
  }

  .text-element1 {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 700;
  }

  .text-element2 {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 700;
  }

  .text-element3 {
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    font-weight: 600;
  }
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Pretendard";
}
